<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotify Auth</title>
</head>
<body>
  <header>
    <h1>mikoqueue for twitch</h1>
  </header>
  <main>
    <h2>Spotify Auth</h2>
    <p>This page should only be access after going to the Spotify auth link provided from the console.</p>
  </main>
</body>
</html>